<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Hello Dear ' + name}"></p>
<p>
    Você esqueceu sua senha da  <b th:text="${applicationName}"></b> em
    <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}"></span>
</p>

<p>
    Sua nova senha é <strong th:text="${password}"></strong>.
</p>
</body>
</html>